@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Identity
@using BeeTravel.Entities
@inject SignInManager<DbUser> SignInManager
@inject UserManager<DbUser> UserManager
@using BeeTravel.Service
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeeTravel @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/button.css" rel="stylesheet" type="text/css" />
    <link href="~/css/manage.css" rel="stylesheet" type="text/css" />
    <link href="~/css/login-register.css" rel="stylesheet" type="text/css" />
    <link href="~/css/flag-icon.css" rel="stylesheet" type="text/css" />
    <link href="~/css/flag-icon.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="landing">
    <div id="page-wrapper">
        <header id="header" class="header-menu" style="background-image: -webkit-linear-gradient(top, rgb(45 47 60 / 95%), rgb(43 46 57)), url(/wwwroot/img/overlay.png);margin-top: -10px;">
            <h1 id="logo"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BeeTravel</a></h1>
            <nav id="nav">
                <ul>
                    <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Navbar_menu_item_1"]</a></li>
                    <li>
                        <form class="form-header" asp-action="Index" asp-controller="Tour" method="get">
                            <input class="au-input au-input--xl" type="text" name="SearchString" placeholder="Search ..." value="@ViewData["CurrentFilter"]" style=" height: 2em;" />
                        </form>
                    </li>
                    <li><a asp-area="" asp-controller="Tour" asp-action="Index">@Localizer["Navbar_menu_item_4"]</a></li>
                    <li><a href="#">@Localizer["Navbar_menu_item_2"]</a></li>
                    <li><a href="elements.html">@Localizer["Navbar_menu_item_3"]</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="Manage" asp-action="Index" class="button special" title="Manage" style="box-shadow:none;padding: 0 0.55em;">@Localizer["Navbar_menu_profile"]</a></li>

                    }
                    else
                    {
                        <li>
                            <a class="button special" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Navbar_menu_login"]</a>
                        </li>
                    }
                    <li class="button-language">
                        <partial name="_Culture" />
                    </li>
                </ul>
            </nav>
        </header>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon alt fa-plane"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; BeeTravel. All rights reserved.</li>
        </ul>
        <div style="text-align:center">
            <partial name="_Culture" />

        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/lib/cropperjs/cropper.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main_script.js"></script>
    <div id="titleBar">
        <a href="#navPanel" class="toggle"></a>
        <span class="title">
            <a class="navbar-brand" href="/">BeeTravel</a>
        </span>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
