@model List<Tour>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tours";
}

<div>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            i++;
            string direction;
            if (i % 2 == 0)

            {
                direction = "left";
            }
            else
            {

                direction = "right";

            }
            var idTour = i + 1;
            if(idTour == Model.Count + 1)
            {
                idTour = 1;
            }
            <section id="@i" class="spotlight style1 @direction">
                <span class="image fit main"><img src="~/img/@item.Img" alt="@item.Name" /></span>
                <div class="content">
                    <header>
                        <h2>@item.Name</h2>
                        <p>@item.Countries</p>
                    </header>
                    <p class="tour-content">@item.Description</p>
                    <ul class="actions">
                        <li><a class="button" asp-controller="Tour" asp-action="Tour" asp-route-id="@item.Id" style="text-decoration:none;">Learn More</a></li>
                    </ul>
                </div>
                <a href="#@idTour" class="goto-next scrolly">Next</a>
            </section>
        }
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            var size = 430,
                newsContent = $('.tour-content'),
                newsText = newsContent.text();

            if (newsText.length > size) {
                newsContent.text(newsText.slice(0, size) + ' ...');
            }
        });
    </script>
}
