@model BeeTravel.Models.Tour
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tours";
}
<div style="
    border: solid 2px rgba(255, 255, 255, 0.3);
    margin: 70px 15px 10px 15px;
    border-radius: 27px;
">

    <div class="tour-image" style="background-size: cover;">
        <div class="container">
            <div>
                <img src="~/img/@Model.Img" style="width:100%; padding-top:20px" />
            </div>
        </div>
    </div>

    <section class="contant" style=" padding-bottom: 16px; ">
        <div class="container">
            <div class="row single__tour-item">
                <div class="col-md-8">
                    <h2 class="single__tour-name">@Model.Name</h2>
                    <div class="single__tour-counties">@Model.Countries</div>
                    <div class="single__tour-datetime">
                        <span> @Model.DepartureTown</span>
                        <span>@Model.Period дні</span>
                        @if (Model.IsNightCrossing)
                        {
                            <span>"З нічним переїздом"</span>
                        }
                        else
                        {
                            <span>"Без нічного переїзду"</span>
                        }
                    </div>

                    <div class="single__tour-description">
                        @Model.Description
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single__tour-order-info">
                        <div class="tour-data-price">
                            <div class="tour-price"> @Model.Price<small>€</small></div>
                            <div>@Model.DepartureDate</div>
                        </div>
                        <form asp-action="GetOrder" asp-controller="Order" method="post" asp-route-id="@Model.Id" >
                            <input type="hidden" name="id" value="@Model.Id"/>
                            <button type="submit" class="btn btn-light btn-default" style=" margin: 10px 10px 10px 10px;">Замовити</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <div class="col-md-2" style="display: -webkit-inline-box;">
                        <a asp-controller="Administration" asp-action="EditTour" asp-route-id="@Model.Id" style=" margin: 10px 10px 10px 10px;"
                           class=" btn btn-warning btn-default">
                            Редагувати
                        </a>
                        <form asp-controller="Admin" asp-action="DeleteTour" asp-route-id="@Model.Id" method="post" style=" margin: 10px 10px 10px 10px;">
                            <button type="submit"
                                    class=" btn btn-danger btn-default">
                                Видалити
                            </button>
                        </form>
                    </div>

                }
                else
                {

                }
            </div>
        </div>
    </section>


</div>