@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = " - User List";
}


@model IEnumerable<BeeTravel.Entities.DbUser>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">user table</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="fas fa-user-plus"></i>
                            <a style="color:white;" asp-action="Create">Add User</a>
                        </button>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>email</th>
                                <th>phone</th>
                                <th>role</th>
                                <th>status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr class="tr-shadow">
                                    <td>@user.Firstname @user.Lastname</td>
                                    <td>
                                        <span class="block-email">@user.Email</span>
                                    </td>
                                    <td class="desc">
                                        <span>@user.PhoneNumber</span>
                                    </td>
                                    <td>
                                        <span class="role admin">admin</span>
                                    </td>
                                    <td>
                                        @if (user.EmailConfirmed)
                                        {
                                            <span class="status--process">Confirmed</span>
                                        }
                                        else
                                        {
                                            <span class="status--denied">Not Confirmed</span>
                                        }
                                    </td>
                                    <td>
                                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                            <div class="table-data-feature">
                                                <a class="item" title="Edit" data-toggle="tooltip" data-placement="top" asp-action="Edit" asp-route-id="@user.Id">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                                <button class="item" title="View">
                                                    <i class="zmdi zmdi-eye"></i>
                                                </button>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
</div>
