@using Microsoft.AspNetCore.Identity
@using BeeTravel.Entities
@inject SignInManager<DbUser> SignInManager
@inject RoleManager<DbRole> RoleManager
@inject UserManager<DbUser> UserManager
@model PaginatedList<BeeTravel.Entities.DbUser>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = " - User List";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">user table</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small">
                            <i class="fas fa-refresh"></i>
                            <a style="color:white;" asp-action="Index">Reload</a>
                        </button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="fas fa-user-plus"></i>
                            <a style="color:white;" asp-action="Create">Add User</a>
                        </button>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" title="Sort by Name" data-toggle="tooltip" data-placement="top">name</a></th>
                                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]" title="Sort by Email" data-toggle="tooltip" data-placement="top">email </a></th>
                                <th>phone</th>
                                <th>role</th>
                                <th>status</th>
                                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" title="Sort by Date" data-toggle="tooltip" data-placement="top">date</a></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr class="tr-shadow">
                                    <td>@user.Firstname @user.Lastname</td>
                                    <td>
                                        <span class="block-email">@user.Email</span>
                                    </td>
                                    <td class="desc">
                                        <span>@user.PhoneNumber</span>
                                    </td>
                                    <td>
                                        @{
                                            var usercur = await UserManager.FindByIdAsync(user.Id.ToString());
                                            foreach (var role in RoleManager.Roles.ToList())
                                            {
                                                var userRolesViewModel = new UserRolesViewModel
                                                {
                                                    RoleId = role.Id,
                                                    RoleName = role.Name
                                                };

                                                if (await UserManager.IsInRoleAsync(user, role.Name))
                                                {
                                                    <a class="role admin" style="background-color:@role.RoleColor"  asp-action="EditRole" asp-route-id="@role.Id">@role.Name</a>

                                                }
                                                else
                                                {

                                                }


                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (user.EmailConfirmed)
                                        {
                                            <span class="status--process">Confirmed</span>
                                        }
                                        else
                                        {
                                            <span class="status--denied">Not Confirmed</span>
                                        }
                                    </td>
                                    <td>
                                        <span class="block-email" title="@user.CreateDate.DateTime.ToShortTimeString()" data-toggle="tooltip" data-placement="top">@user.CreateDate.DateTime.ToShortDateString()</span>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <a class="item" title="Edit" data-toggle="tooltip" data-placement="top" asp-action="Edit" asp-route-id="@user.Id">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                                <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </form>
                                            <a class="item" title="Role" data-toggle="tooltip" data-placement="top" asp-action="ManageUserRoles" asp-route-userId="@user.Id">
                                                <i class="zmdi zmdi-shield-security"></i>
                                            </a>
                                            @if (user.EmailConfirmed)
                                            {

                                            }
                                            else
                                            {
                                                <form asp-action="ConfirmEmail" asp-route-id="@user.Id" method="post">
                                                    <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="Confirm" style="background: #69bb68;">
                                                        <i class="zmdi zmdi-check" style="color:white"></i>
                                                    </button>
                                                </form>
                                            }
                                        </div>

                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="user-data__footer">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="au-btn au-btn-load @prevDisabled">
            <i class="zmdi zmdi-arrow-left"></i>
            Previous

        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="au-btn au-btn-load @nextDisabled">
            Next
            <i class="zmdi zmdi-arrow-right"></i>
        </a>
    </div>

</div>
